<link rel="stylesheet" href="/static/css/style.css">
{% extends "admin/master.html" %}
{% block body %}
<center>
<style>
    body {background-image:linear-gradient(to right,#426e83,#212529)}
    img {border: 1px solid #ddd;
  border-radius: 13px;
  padding: 5px;
  width: 1250px;
  height : 750px;
}
  img:hover {  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
    h3 {color: #fff; font-size:x-large}
</style>
    <div class="container"> 
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">Live Streaming</h3>
                <img src="{{ url_for('video_feed') }}" width="100%" >
            </div>
        </div>
    </div>
    <br>
<button class="btn btn-secondary btn-lg" onclick="location='/logout'" style="height: 60px; width: 160px"><p style="font-size:large;">Logout out</p></button>
<footer> &copy; projet fin d'études | Face Mask Detection | Noussair Abellouch & Himi Hiba </footer>

</center>
{% endblock body %}